# ---------------------- PATHS FOLDERS ---------------------- #

PATH_DATA_STORAGE=C:\Users\Public\PythonProjects\storage

PATH_FOLDER_DATASETS=C:\Users\Public\PythonProjects\storages\datasets

PATH_FOLDER_DATASETS_FILTER=C:\Users\Public\PythonProjects\storages\datasets-filter

# -------------------------- DATABASE SETTINGS --------------------- #

# Docker
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=v75ZZ3KoY8B07vhW
POSTGRES_PORT=5432

PGADMIN_PORT=5050
PGADMIN_DEFAULT_EMAIL=admin@proposal.com
PGADMIN_DEFAULT_PASSWORD=9xJBU9O5n5uhb2LR

# ------------------------------ DB Connection --------------------- #

DATABASE_URL=postgresql+psycopg://postgres:v75ZZ3KoY8B07vhW@10.10.25.2:5432/proposal_catalog
