# ---------------------- Dataset paths ---------------------- #

PATH_FOLDER_DATASETS=C:\Users\fmark\PythonProjects\storages\datasets
PATH_DNS_DATASETS=C:\Users\fmark\PythonProjects\storages\datasets\dns
PATH_HOST_DATASETS=C:\Users\fmark\PythonProjects\storages\datasets\host
PATH_TEMP_DATA=C:\Users\fmark\PythonProjects\Proposal\temp_data
